{% extends "admin/partials/base.html" %}
{% block title %}Data Mahasiswa{% endblock %}
{% block action %}
<div class="col-12 col-md-auto ms-auto d-print-none">
    <div class="btn-list">
            <a href="{{url_for('download_file')}}">
            <button  class="btn btn-primary">Template Excel</button></a>
        <span class="d-none d-sm-inline">
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-import" class="btn btn-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-table-import" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <desc>Download more icon variants from https://tabler-icons.io/i/table-import</desc>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M4 13.5v-7.5a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6m-8 -10h16m-10 -6v11.5m-8 3.5h7m-3 -3l3 3l-3 3">
                    </path>
                </svg>
                Import Mahasiswa
            </a>
        </span>
        <a href="#" class="btn btn-primary d-none d-sm-inline-block btn-icon" data-bs-toggle="modal"
            data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
        </a>
        <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tambah Mahasiswa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/admin/tambah_mahasiswa">
                        <div class="modal-body">

                            <div class="mb-3">
                                <label class="form-label">Nama Mahasiswa</label>
                                <input type="text" class="form-control" name="nama" required
                                    placeholder="Masukkan Nama Mahasiswa">
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label class="form-label">NIM</label>
                                        <input type="text" class="form-control" name="nim" required
                                            placeholder="Masukkan NIM">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label class="form-label">Umur</label>
                                        <input type="text" class="form-control" name="umur" required
                                            placeholder="Masukkan Umur">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label class="form-label">Gender</label>
                                        <select class="form-select" name="jenis_kelamin" required>
                                            <option value="0" selected="">Laki-laki</option>
                                            <option value="1">Perempuan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label class="form-label">Domisili</label>
                                        <select class="form-select" name="domisili" required>
                                            <option value="1" selected="">Tegal</option>
                                            <option value="2">Brebes</option>
                                            <option value="3">Pemalang</option>
                                            <option value="-999">Lainnya</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label class="form-label">Status Sekolah</label>
                                        <select class="form-select" name="status_sekolah" required>
                                            <option value="0" selected="">Negeri</option>
                                            <option value="1">Swasta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label class="form-label">Asal Sekolah</label>
                                        <select class="form-select" name="asal_sekolah" required>
                                            <option value="0" selected="">SMA</option>
                                            <option value="1">SMK</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Kegiatan Organisasi</label>
                                        <select class="form-select" name="kegiatan_organisasi" required>
                                            <option value="0" selected="">Tidak</option>
                                            <option value="1">Ya</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Penghasilan Orang Tua</label>
                                        <select class="form-select" name="penghasilan_ortu" required>
                                            <option value="0" selected="">Rendah</option>
                                            <option value="1">Sedang</option>
                                            <option value="2">Tinggi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="mb-3">
                                        <label class="form-label">IPs 1</label>
                                        <input type="text" class="form-control" name="ips1" required placeholder="X.XX">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="mb-3">
                                        <label class="form-label">IPs 2</label>
                                        <input type="text" class="form-control" name="ips2" required placeholder="X.XX">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="mb-3">
                                        <label class="form-label">IPs 3</label>
                                        <input type="text" class="form-control" name="ips3" required placeholder="X.XX">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="mb-3">
                                        <label class="form-label">IPs 4</label>
                                        <input type="text" class="form-control" name="ips4" required placeholder="X.XX">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="mb-3">
                                        <label class="form-label">IPs 5</label>
                                        <input type="text" class="form-control" name="ips5" required placeholder="X.XX">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="mb-3">
                                        <label class="form-label">IPs 6</label>
                                        <input type="text" class="form-control" name="ips6" required placeholder="X.XX">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                Batal
                            </a>
                            <button type="submit" class="btn btn-primary ms-auto">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal modal-blur fade" id="modal-import" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Import Mahasiswa</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="/admin/upload_excel" enctype="multipart/form-data">
                        <div class="modal-body">
                            <label class="form-label">Upload File</label>
                            <input type="file" name="file">
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                                Batal
                            </a>
                            <button type="submit" class="btn btn-primary ms-auto">
                                Import
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-vcenter table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th 
                            for x in range(6):
                            rowspan="2">No</th>
                            
                            <th rowspan="2">NIM</th>
                            <th rowspan="2">Nama Lengkap</th>
                            <th rowspan="2">Umur</th>
                            <th rowspan="2">Gender</th>
                            <th rowspan="2">Domisili</th>
                            <th rowspan="2">Status Sekolah</th>
                            <th rowspan="2">Asal Sekolah</th>
                            <th rowspan="2">Kegiatan Organisasi</th>
                            <th rowspan="2">P. Orang Tua</th>
                            <th colspan="6">IPS</th>
                            <th rowspan="2">Aksi</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dt in data %}
                        <tr>
                            <td class="text-center">{{dt[0]}}</td>
                            <td class="text-center">{{dt[1]}}</td>
                            <td>{{dt[2]}}</td>
                            <td class="text-center">{{dt[3]}}</td>
                            <td class="text-center">{{ 'Laki-laki' if dt[4]=='0' else 'Perempuan'}}</td>
                            {% if dt[5]=='1' %}<td class="text-center">Tegal</td>{% endif %}
                            {% if dt[5]=='2' %}<td class="text-center">Brebes</td>{% endif %}
                            {% if dt[5]=='3' %}<td class="text-center">Pemalang</td>{% endif %}
                            {% if dt[5]=='-999' %}<td class="text-center">Lainnya</td>{% endif %}
                            <td class="text-center">{{ 'Negeri' if dt[6]=='0' else 'Swasta'}}</td>
                            <td class="text-center">{{ 'SMA' if dt[7]=='0' else 'SMK'}}</td>
                            <td class="text-center">{{ 'Tidak' if dt[8]=='0' else 'Ya'}}</td>
                            {% if dt[9]=='0' %}<td class="text-center">Rendah</td>{% endif %}
                            {% if dt[9]=='1' %}<td class="text-center">Sedang</td>{% endif %}
                            {% if dt[9]=='2' %}<td class="text-center">Tinggi</td>{% endif %}
                            <td class="text-center">{{dt[10]}}</td>
                            <td class="text-center">{{dt[11]}}</td>
                            <td class="text-center">{{dt[12]}}</td>
                            <td class="text-center">{{dt[13]}}</td>
                            <td class="text-center">{{dt[14]}}</td>
                            <td class="text-center">{{dt[15]}}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <!-- <a href="#" class="btn btn-warning btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-edit" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <desc>Download more icon variants from https://tabler-icons.io/i/edit
                                            </desc>
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1">
                                            </path>
                                            <path
                                                d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z">
                                            </path>
                                            <path d="M16 5l3 3"></path>
                                        </svg>
                                    </a> -->
                                    <a href="/admin/del_mhs/{{dt[1]}}" class="btn btn-danger btn-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-trash" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <desc>Download more icon variants from https://tabler-icons.io/i/trash
                                            </desc>
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <line x1="4" y1="7" x2="20" y2="7"></line>
                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}